@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: inter;
  background-color: #eff1fa;
}

.header {
  left: 44px;
  top: 40px;
  position: absolute;
}

.header a img {
  width: 31px;
  height: 44px;
}

.container {
  padding-top: 40px;
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 2%;
}

.content {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 900px;
}

.codificador {
  padding-bottom: 10px;
}

.input {
  width: 100%;
  resize: none;
  color: #0a3871;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  height: 627px;
  margin-bottom: 69px;
  background: #eff1fa;
}

.input::placeholder {
  color: #0a3871;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}

.botones{
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.boton {
  width: 100%;
  max-width: 328px;
  color: #0a3871;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  border: 2px solid #0a3871;
  background: #eff1fa;
  border-radius: 32px;
  padding: 22px;
  cursor: pointer;
}

.boton2 {
  background: #0a3871;
  color: #ffffff;
}

.decoder__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 900px;
  background-color: #ffffff;
  border-radius: 32px;
}

.decoder__content--messageDefauld {
  width: 84%;
  text-align: center;
  max-height: 100%;
}

.decoder__content--messageDefauld h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: #343a40;
  margin: 5px 0;
}

.decoder__content--messageDefauld p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #495057;
  margin: 5px 0;
}

.decoder__content--decoderMessage {
  width: 84%;
  height: 95%;
  text-align: center;
  display: none;
}

.decoder__description {
  padding-left: 10px;
  width: 100%;
  resize: none;
  color: #0a3871;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  height: 717px;
  margin-bottom: 69px;
}

.decoder__btn {
  width: 100%;
  max-width: 328px;
  color: #0a3871;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  border: 2px solid #0a3871;
  background: #fff;
  border-radius: 32px;
  padding: 22px;
  cursor: pointer;
}

footer {
  text-align: center;
  margin: 50px 0 20px 0;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    justify-content: center;
    display: block;
    margin: 0;
    padding: 110px 20px 0 20px;
    gap: 0;
  }

  .encoder__content {
    display: block;
    width: 100%;
    max-width: 768px;
    height: 830px;
    margin: 0;
    padding: 0;
  }

  .encoder__btn {
    width: 100%;
    max-width: 768px;
    margin-bottom: 20px;
  }

  .decoder__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 768px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 24px;
  }

  .decoder__content--messageDefauld {
    width: 100%;
  }

  .decoder__content--messageDefauld img {
    display: none;
  }

  .decoder__content--decoderMessage {
    width: 100%;
  }

  .decoder__description {
    height: 336px;
  }

  .decoder__btn {
    width: 100%;
    max-width: 768px;
    color: #0a3871;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    border: 2px solid #0a3871;
    background: #fff;
    border-radius: 24px;
    padding: 22px;
    cursor: pointer;
  }
}

@media screen and (max-width: 450px) {
  .content {
    height: 660px;
    padding: 0 10px 0 10px;
  }

  .input {
    height: 480px;
    margin: 0;
  }

  .encoder__btn--container {
    display: block;
  }

  .encoder__btn {
    padding: 12px;
  }

  .decoder__content {
    height: 350px;
    padding: 0 10px 0 10px;
  }

  .decoder__description {
    height: 260px;
    margin-bottom: 0;
    padding-right: 10px;
  }

  .decoder__btn {
    padding: 12px;
  }
}
